.container{
  width: 100%;
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  font-size: 2rem;
}
.minHeight{
  min-height: 75%;
}
.start{
  justify-content: flex-start;
}
.column{
  flex-direction: column;
  justify-content: flex-start;
}
.body_container{
  width: 100%;
  max-width: 120rem;
  height: 50rem;
  font-size: 2rem;
}